#!/usr/bin/zsh

integrate-new-github-repo() {
	# I don't recall what this was used for
    local backup_dir=$(mktemp -d)
    cp -a . "$backup_dir"
    
    if [ ! -d ".git" ]; then
        git init
    fi
    git remote add origin "$1"
    git fetch origin

    for branch in $(git branch --remotes | grep -v 'origin/main' | grep -v 'origin/HEAD'); do
        local branch_name=$(echo "$branch" | sed 's#origin/##')
        git checkout "$branch_name"
        git pull origin "$branch_name"
        if git show-ref --verify --quiet "refs/heads/$branch_name"; then
            git branch --set-upstream-to="origin/$branch_name" "$branch_name"
        fi
    done

    git checkout -b main
    git pull origin main
    cp -f "$backup_dir"/. .
    git branch --set-upstream-to=origin/main main
    rm -rf "$backup_dir"
}

pull-new-repo() {
	local repo_name="$1"
	local repo_url="$2"

	mkdir "$repo_name"
	cd "$repo_name"
	
	echo "# $repo_name" >> README.md
	git init
	git commit -m "first commit"
	git branch -M main
	git remote add origin "$repo_url"
	git push -u origin main
	git status
	cd ..
}
