#!/bin/bash

# TODO: come up with a waaaay better mechanism
run-script(){
	old_venv="$(basename $VIRTUAL_ENV)"
	workon "$1"
	python3 "$2"
	workon "$old_venv"
}

scripts=$(find $SCRIPTS_DIR -not -path "*/.git/*" -name "*.py" -type f)
while IFS= read -r script; do
    pylength=".py"; pylength="${#pylength}"
    filename="$(basename "$script")"
    flength="${#filename}"
    end=$((flength - pylength))
    filename="${filename:0:$end}"
    filename="py-$filename"
	
	alias $filename="run-script \"scripts\" \"$script\""
done <<< "$scripts"
