#!/usr/bin/zsh

export_proxy() {
    export HTTP_PROXY="$2://$1"
    export http_proxy="$2://$1"
    export HTTPS_PROXY="$3://$1"
    export https_proxy="$3://$1"
}

v2ray-socks-proxy() {
    export_proxy $V2RAY_SOCKS socks5 socks5
}

v2ray-http-to-socks-proxy() {
    export_proxy $V2RAY_SOCKS http https
}

v2ray-http-proxy() {
    export_proxy $V2RAY_HTTP http https 
}

v2ray-insecure-http-proxy() {
    export_proxy $V2RAY_HTTP http http
}

nekoray-socks-proxy() {
    export_proxy $NEKORAY_PROXY socks5 socks5
}

nekoray-http-proxy() {
    export_proxy $NEKORAY_PROXY http https
}

nekoray-insecure-http-proxy() {
    export_proxy $NEKORAY_PROXY http http
}

warp-socks-proxy() {
	export_proxy $WARP_PROXY socks5 socks5
}

warp-http-proxy() {
	export_proxy $WARP_PROXY http https
}

warp-insecure-http-proxy() {
	export_proxy $WARP_PROXY http http
}

warp-plus-socks-proxy() {
	export_proxy $WARP_PLUS_PROXY socks5 socks5
}

warp-plus-http-proxy() {
	export_proxy $WARP_PLUS_PROXY http https
}

warp-plus-insecure-http-proxy() {
	export_proxy $WARP_PLUS_PROXY http http
}

hiddify-socks-proxy() {
    export_proxy $HIDDIFY_PROXY socks5 socks5
}

hiddify-http-proxy() {
    export_proxy $HIDDIFY_PROXY http https
}

hiddify-insecure-http-proxy() {
    export_proxy $HIDDIFY_PROXY http http
}

unset-proxy() {
    unset HTTP_PROXY
    unset HTTPS_PROXY
    unset http_proxy
    unset https_proxy
}
