#!/usr/bin/zsh

psql-init-db() {
    if [ -n "$1" ]; then
        psql postgres -c "create database $1;"
        psql postgres -c "grant connect on database $1 to public;"
    
        psql $1 -c "create role $1;"
        psql $1 -c "alter role $1 with login;"
        psql $1 -c "alter role $1 with password '$1';"
        psql $1 -c "grant all privileges on database $1 to $1;"
        psql $1 -c "alter role $1 superuser;"

        psql $1 -c "alter role $1 set client_encoding to 'utf8'"
        psql $1 -c "alter role $1 set timezone to 'UTC'"
    else
        log_error "Argument db-name was not provided."
        return 1
    fi
}
