#!/usr/bin/zsh

vscode() {
	zparseopts -M -D -E \
		f::=arg_file -file::=f \
		F::=arg_folder -folder::=F \
		n=arg_new_window -new-window=n \
		r=arg_reuse_window -reuse-window=r

	arg_file="$(echo "$arg_file" | sed -E -e 's|^-f||g')"
	arg_folder="$(echo "$arg_folder" | sed -E -e 's|^-F||g')"

	window_arg=""
	if [ -n "$arg_new_window" ]; then
		window_arg="--new-window"
	elif [ -n "$arg_reuse_window" ]; then
		window_arg="--reuse-window"
	fi

	if [ -n "$arg_file" ]; then
		eval "code $window_arg --goto \"$arg_file\""
	elif [ -n "$arg_folder" ] ;then
		eval "code $window_arg --goto \"$arg_folder\""
	fi
}
