#!/bin/bash

docker-shell() {
    if [ -z "$1" ]; then
        log_error "arg container_name was not provided."
    fi

    local container_name="$1"

    if [ -n "$2" ]; then
        local cmd="$2"
    else
        local cmd="/bin/bash"
    fi

    docker exec --interactive --tty "$container_name" "$cmd"
}

docker-startup() {
    if [ -z "$1" ]; then
        log_error "arg mode must be provided. 'disable', 'enable', 'start', or 'stop'?"
        return 1
    elif [ ! "$1" = "enable" ] && [ ! "$1" = "disable" ] && \
         [ ! "$1" = "start"  ] && [ ! "$1" = "stop"    ]; then
        log_error "wrong arg ($1) provided."
        return 1
    fi
    mode="$1"
    
    units=($(systemctl list-unit-files --plain | grep -i docker | awk '{print $1}'))
    for unit in $units[*]; do
        sudo systemctl $mode $unit
    done
}
