#!/bin/bash

# related to django
stockerpsql_id_seq_reset() {
    name="$1_$2"
    name_quoted="'"$name"'"
    echo "BEGIN;
    SELECT setval(pg_get_serial_sequence($name_quoted),'id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM $name;
    COMMIT;" | psql stocker
}
