export VISUAL=vim
export EDITOR="$VISUAL"

alias dirsize="du -d 1 -h | sort -k1,1rn"
alias filesize="du -sh"
alias opendir="setsid --fork nautilus --new-window 1>/dev/null 2>/dev/null"

#todo: make into function with args
alias finddir="find . -type d -name"

#todo: make into function with args
alias findfile="find . -type f -name"

# todo: make into function
grepfile="grep -R -n -H -C 5 --exclude-dir={.git}"

zzz="""
find a way to make a mechanism that supports writing help-texts for
 things written in .mehdi.d. The help text should be available through the files
 themselves, and also available for search through a command.
"""

# alias cp="cp -rvp"
alias cp="cp -av"
alias mv="mv -v"

alias pdfview="evince"
alias txt="gnome-text-editor"
csview() {
    local file="$1"
    cat "$file" | sed -e 's/,,/, ,/g' | column -s, -t | less -#5 -N -S
}

alias bat="batcat"
alias ls="exa"
alias desktop-files="{ ls -d $HOME_DIR/.local/share/applications/* && ls -d1 /usr/share/applications/* }"
